= simple_form_for transformation_yield, :remote => true do |f|

  = render_form_errors f

  = field_set_tag do
    = f.input :item_lookup_id, :wrapper => :inline, :input_html => { :'data-item-id-completion' => true }
    = f.input :quantity, :wrapper => :inline
